<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">

    <!-- lien pour AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>

<body ng-app="myApp">

    <container class="container">
        <header>

        </header>

        <main >
        
    


            <!-- formulaire pour nouvelle chaussure -->
            <div ng-controller="addShoesCrtl" class="">

                <div class="row my-3 d-flex justify-content-center">

                    <article  ng-repeat="x in myData" class="col-10 col-sm-4 col-md-3 col-xl-2 border m-2 p-2">
                        <figure class="d-flex justify-content-center">
                            <img src={{x.img}}>
                        </figure>
                        <div class="nom_article">{{x.nom}}</div>
                        <div class="nom_article">{{x.description}}</div>
                        <div class="priorite_article">Demande la Plus Basse</div>
                        <div class="prix_article">{{x.prix}} €</div>
                    </article>

                </div>

                <div class="container d-flex flex-column col-8 border my-3 p-3 align-items-center">
                    <div>Soumettre une Chaussure</div>

                    <div class="d-flex flex-column align-items-end">

                        <div class="d-flex p-2">
                            <span class="my-1">nom :</span>
                            <input class="m-1" ng-model="nom" />
                        </div>

                        <div class="d-flex p-2">
                            <span class="my-1">prix :</span>
                            <input class="m-1" ng-model="prix" />
                        </div>

                        <div class="d-flex p-2">
                            <span class="my-1">description :</span>
                            <input class="m-1" ng-model="description" />
                        </div>

                        <div class="d-flex p-2">
                            <span class="my-1">image :</span>
                            <input class="m-1" ng-model="image" />
                        </div>


                    </div>

                    <input type="button" value="Soumettre" ng-click="postdata(nom,prix,description,image)" />

                </div>

            </div>


        </main>

        <footer>

        </footer>


    </container>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="./shoesController.js"></script>
</body>
</html>

